.auth-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 75px);
    background-color: #202020;
}

.auth-page__auth-container {
    width: 480px;
    height: 360px;
    background-color: white;
    border-radius: 40px;
    padding: 40px;
    text-align: center;
}

.auth-page__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.auth-page__input {
    height: 30px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #202020;
}