.create-modal {
    position: fixed;
    width: 100%;
    height: 110vh;
    display: none;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 9;
    background-color: rgba(0,0,0, .3);
}

.create-modal_active {
    display: flex;
}

.create-modal__form-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    min-width: 400px;
    height: auto;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
}

.create-modal__close-btn {
    position: absolute;
    top: -40px;
    right: -30px;
    width: 32px;
    height: 32px;
    outline: none;
    border: none;
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;
    background-image: url("./icons/modal__close-icon.svg");
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
}

.create-modal__title {
    font-size: 20px;
    font-weight: 700;
    color: #202020;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 18px;
    text-align: center;
}

.create-modal__input {
    width: calc(100% - 16px);
    height: 40px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: normal;
    border: 1px solid #cacaca;
    background-color: white;
    outline: none;
    padding: 0;
    padding-left: 16px;
    color: #202020;
    margin-bottom: 30px;
}

.create-modal__input::placeholder {
    color: #cacaca;
    font-size: 16px;
    font-weight: normal;
}

.create-modal__submit-btn {
    width: 100%;
    height: 44px;
    border-radius: 40px;
    border: 1px solid #202020;
    background-color: white;
    text-align: center;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all .2s;
}

.create-modal__submit-btn:hover {
    background-color: #202020;
    color: white;
}